// colors
$black: #000;
$white: #fff;

$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #dfdfdf;
$gray6: #f2f2f2;
$gray7: #fafafa;

$red: #ff4f64;
$pink: #ff4f8e;
$orange: #ff9f4a;
$yellow: #fff612;
$green: #42d982;
$skyblue: #04f0ff;
$blue: #0066ff;
$purple: #a027ff;
