// colors
$black: #000;
$white: #fff;

$gray1: #edf2f7;
$gray2: #e2e8f0;
$gray3: #cbd5e0;
$gray4: #a0aec0;
$gray5: #718096;

$red: #ff4f64;
$pink: #ff4f8e;
$orange: #ff9f4a;
$yellow: #fff612;
$green: #42d982;
$skyblue: #04f0ff;
$blue: #4268a6;
$purple: #a027ff;

$shadow-tiny: 0px 0px 0.45rem rgba(175, 175, 175, 0.12);
$shadow-small: 0px 0.4rem 0.4rem rgba(196, 196, 196, 0.2);
$shadow-medium: 0px 1rem 1rem rgba(119, 119, 119, 0.25);
$shadow-large: 0px 0.4rem 0.9rem 0.9rem rgba(164, 164, 164, 0.1);
