.wrapper {
  width: fit-content;
  height: fit-content;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;

  font-size: 14px;

  input {
    width: 260px;
  }
  textarea {
    width: 100%;
  }
  input,
  textarea {
    padding: 8px;
    border-radius: 4px;

    border: 1px solid #ccc;
    transition: 0.2s;
    &:focus {
      border-color: $gray4;
    }
  }

  textarea {
    width: 540px;
    height: 240px;
  }

  label {
    margin-left: 8px;
  }

  img {
    width: 360px;
  }
}

.name {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 700;
}
