.wrapper {
  width: fit-content;
  height: fit-content;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;

  font-size: 14px;

  input,
  textarea {
    padding: 12px;
    border: 1px solid $gray4;
    &:focus {
      border: 1px solid $blue;
    }
  }

  textarea {
    width: 540px;
    height: 240px;
  }

  label {
    margin-left: 8px;
  }
}

.name {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}
