.wrapper {
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .count {
    margin: 0;
    float: right;
    color: $gray5;
    white-space: nowrap;
    font-size: 10px;
  }
}
