.wrapper {
  display: flex;
  flex-direction: row;

  width: 100%;

  .main {
    margin-left: 280px;

    flex: 1;
    display: flex;
    flex-direction: column;

    background-color: $gray0;
    padding: 32px 24px;
  }
}
