.wrapper {
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  width: 280px;
  height: fit-content;
  min-height: 100vh;
  padding: 24px 8px;

  background-color: $white;
  box-shadow: $shadow-medium;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  font-size: 14px;

  cursor: pointer;

  transition: all 0.2s;
  &:hover {
    background-color: $gray8;
  }
}
.section {
  height: 48px;
  padding: 0 12px;

  font-weight: 600;
  font-size: 16px;
  color: $black;

  svg {
    margin-left: auto;
    fill: $gray6;
  }
}
.list {
  width: 100%;
  margin: 0;

  overflow: hidden;
  height: 0;
  transition: 0.2s;
}
.model {
  height: 42px;
  padding: 0 24px;

  color: $gray5;
  font-size: 14px;

  &[data-current="true"] {
    font-weight: 600;
    color: $blue;
  }
}

.logout {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 38px;
  margin: auto 8px 0;
  padding: 0 16px;
  cursor: pointer;

  svg {
    width: 13px;
    height: 12px;
    margin-right: 8px;

    fill: $gray5;
  }

  font-size: 16px;
  color: $gray5;
}
